<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>checkout</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/checkout">checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
           
        </div>

    </div>
</div>

<div class="page-section section mt-90 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                <!-- Checkout Form s-->
                <form action="#" class="checkout-form">
                   <div class="row row-40">
                       
                       <div class="col-lg-7 mb-20">
                          
                           <!-- Billing Address -->
                           <div id="billing-form" class="mb-40">
                               <h4 class="checkout-title">Dirección de Envio</h4>

                               <div class="row">

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Primer nombre*</label>
                                       <input type="text" placeholder="Primer nombre">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Apellido*</label>
                                       <input type="text" placeholder="Apellido">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Dirección de correo electrónico*</label>
                                       <input type="email" placeholder="Dirección de correo electrónico">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Teléfono*</label>
                                       <input type="text" placeholder="Teléfono">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Nombre de empresa</label>
                                       <input type="text" placeholder="Nombre de empresa">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Dirección*</label>
                                       <input type="text" placeholder="Dirección 1">
                                       <input type="text" placeholder="Dirección 2">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>País*</label>
                                       <select class="nice-select" style="display: none;">
                                            <option>Colombia</option>
                                       </select>
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Pueblo / ciudad*</label>
                                       <input type="text" placeholder="Pueblo / ciudad">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Estado*</label>
                                       <input type="text" placeholder="Estado">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Código postal*</label>
                                       <input type="text" placeholder="Código postal">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <div class="check-box">
                                           <input type="checkbox" id="create_account">
                                           <label for="create_account">Crea una cuentat?</label>
                                       </div>
                                       <div class="check-box">
                                           <input type="checkbox" id="shiping_address" data-shipping="">
                                           <label for="shiping_address">Enviar a una dirección diferente</label>
                                       </div>
                                   </div>

                               </div>

                           </div>
                           
                           <!-- Shipping Address -->
                           <div id="shipping-form" class="mb-40">
                               <h4 class="checkout-title">Dirección de Envío</h4>

                               <div class="row">

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Primer nombre*</label>
                                       <input type="text" placeholder="Primer nombre">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Apellido*</label>
                                       <input type="text" placeholder="Apellido">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Dirección de correo electrónico*</label>
                                       <input type="email" placeholder="Dirección de correo electrónico">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Teléfono*</label>
                                       <input type="text" placeholder="Teléfono">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Nombre de empresa</label>
                                       <input type="text" placeholder="Nombre de empresa">
                                   </div>

                                   <div class="col-12 mb-20">
                                       <label>Dirección*</label>
                                       <input type="text" placeholder="Dirección 1">
                                       <input type="text" placeholder="Dirección 2">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>País*</label>
                                       <select class="nice-select" style="display: none;">
                                            <option>Colombia</option>
                                       </select>
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Pueblo / ciudad*</label>
                                       <input type="text" placeholder="Pueblo / ciudad">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Estado*</label>
                                       <input type="text" placeholder="Estado">
                                   </div>

                                   <div class="col-md-6 col-12 mb-20">
                                       <label>Código postal*</label>
                                       <input type="text" placeholder="Código postal">
                                   </div>

                               </div>

                           </div>
                           
                       </div>
                       
                       <div class="col-lg-5">
                           <div class="row">
                               
                               <!-- Cart Total -->
                               <div class="col-12 mb-60">
                               
                                   <h4 class="checkout-title">Carrito Total</h4>
                           
                                   <div class="checkout-cart-total">

                                       <h4>Productos <span>Total</span></h4>
                                       
                                       <ul>
                                           <li>Pulsera atrapasueños X 02 <span>$590.000</span></li>
                                           <li>Collar Sugar daddy X 01 <span>$580.000</span></li>
                                           <li>Pulsera love forever X 01 <span>$110.000</span></li>
                                       </ul>
                                       
                                       <p>SubTotal <span>$985.000</span></p>
                                       <p>Gastos de envío <span>$00.00</span></p>
                                       
                                       <h4>Total <span>$985.000</span></h4>
                                       
                                   </div>
                                   
                               </div>
                               
                               <!-- Payment Method -->
                               <div class="col-12 mb-60">
                               
                                   <h4 class="checkout-title">Método de pago</h4>
                           
                                   <div class="checkout-payment-method">
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_check" name="payment-method" value="check">
                                           <label for="payment_check">Cheque de pago</label>
                                           <p data-method="check">Envíe un cheque al nombre de la tienda con la calle de la tienda, la ciudad de la tienda, el estado de la tienda, el código postal de la tienda y el país de la tienda.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_bank" name="payment-method" value="bank">
                                           <label for="payment_bank">Transferencia bancaria directa</label>
                                           <p data-method="bank">Envíe un cheque al nombre de la tienda con la calle de la tienda, la ciudad de la tienda, el estado de la tienda, el código postal de la tienda y el país de la tienda.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_cash" name="payment-method" value="cash">
                                           <label for="payment_cash">Contra reembolso</label>
                                           <p data-method="cash">Envíe un cheque al nombre de la tienda con la calle de la tienda, la ciudad de la tienda, el estado de la tienda, el código postal de la tienda y el país de la tienda.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_paypal" name="payment-method" value="paypal">
                                           <label for="payment_paypal">Paypal</label>
                                           <p data-method="paypal">Envíe un cheque al nombre de la tienda con la calle de la tienda, la ciudad de la tienda, el estado de la tienda, el código postal de la tienda y el país de la tienda.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="radio" id="payment_payoneer" name="payment-method" value="payoneer">
                                           <label for="payment_payoneer">Payoneer</label>
                                           <p data-method="payoneer">Envíe un cheque al nombre de la tienda con la calle de la tienda, la ciudad de la tienda, el estado de la tienda, el código postal de la tienda y el país de la tienda.</p>
                                       </div>
                                     
                                       <div class="single-method">
                                           <input type="checkbox" id="accept_terms">
                                           <label for="accept_terms">He leído y acepto los Términos y condiciones</label>
                                       </div>
                                       
                                   </div>
                                   
                                   <button class="place-order">Realizar</button>
                                   
                               </div>
                               
                           </div>
                       </div>
                       
                   </div>
                </form>
                
            </div>
        </div>
    </div>
</div>