<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>CATÁLOGO</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/shop-list">CATÁLOGO</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
           
        </div>

    </div>
</div>


<div class="product-section section mt-90 mb-40">
    <div class="container">
        <div class="row">
           
            <div class="col-xl-9 col-lg-8 col-12 order-lg-2 mb-50">
                
                <div class="row mb-50">
                    <div class="col">
                       
                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar with-sidebar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                            </div>

                            <!-- Product Showing -->
                            <div class="product-showing">
                                <p>Demostración</p>
                                <select name="showing" class="nice-select" style="display: none;">
                                    <option value="1">8</option>
                                    <option value="2">12</option>
                                    <option value="3">16</option>
                                    <option value="4">20</option>
                                    <option value="5">24</option>
                                </select>
                            </div>

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Filtrar</p>
                                <select name="sortby" class="nice-select" style="display: none;">
                                    <option value="trending">Artículos de tendencia</option>
                                    <option value="sales">Los mas vendidos</option>
                                    <option value="rating">Mejor valorados</option>
                                    <option value="date">Artículos más nuevos</option>
                                    <option value="price-asc">Precios de barato a caro</option>
                                    <option value="price-desc">Precio: mayor a menor</option>
                                </select>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Páginas 1 de 25</p>
                            </div>

                        </div><!-- Shop Top Bar End -->
                        
                    </div>
                </div>
                
                <!-- Shop Product Wrap Start -->
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid with-sidebar row">
                    
                    <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/1.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>
                      <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/3.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>

                      <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/4.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>

                      <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/5.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>

                      <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/6.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>

                      <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/7.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>

                      <div class="col-xl-4 col-md-6 col-12 pb-30 pt-10">
                       
                        <!-- Product Start -->
                        <div class="ee-product">

                             <!-- Image -->
                                        <div class="image">

                                            <a href="/product-detail" class="img"><img src="/assets/images/products/8.jpeg"></a>

                                            <div class="wishlist-compare">
                                                <a href="#" data-tooltip="Lista de deseos"><i class="ti-heart"></i></a>
                                            </div>

                                            <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>AÑADIR</span></a>

                                        </div>

                           <!-- Content -->
                                        <div class="content">

                                            <!-- Category & Title -->
                                            <div class="category-title">

                                                <a href="#" class="cat">Reloj</a>
                                                <h5 class="title"><a href="/product-detail">Atrapasueños</a></h5>

                                            </div>

                                            <!-- Price & Ratting -->
                                            <div class="price-ratting">

                                                <h5 class="price">$295.00</h5>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>

                                        </div>

                        </div><!-- Product End -->
                        
                    
                        
                    </div>

                   
                </div><!-- Shop Product Wrap End -->
                
                <div class="row mt-30">
                    <div class="col">

                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li> - - - - - </li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                        
                    </div>
                </div>
                
            </div>
            
            <div class="shop-sidebar-wrap col-xl-3 col-lg-4 col-12 order-lg-1 mb-15">
                
                <div class="shop-sidebar mb-35">
                   
                    <h4 class="title">CATEGORIAS</h4>
                    
                    <ul class="sidebar-category">
                                    <li><a href="#">Reloj</a></li>
                                    <li><a href="#">Manillas</a></li>
                                    <li><a href="#">Audifonos</a></li>
                                    <li><a href="#">Maquillaje</a></li>
                                    <li><a href="#">Collares y pulseras</a></li>
                                    <li><a href="#">Netflix</a></li>
                    </ul>
                    
                </div>
                
                <div class="shop-sidebar mb-35">
                   
                    <h4 class="title">MARCA</h4>
                    
                    <ul class="sidebar-brand">
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Sumsang</a></li>
                        <li><a href="#">Phillips</a></li>
                        <li><a href="#">Zeon</a></li>
                        <li><a href="#">Panasonic</a></li>
                    </ul>
                    
                </div>
           
                
                <div class="shop-sidebar mb-35">
                   
                    <h4 class="title">Color</h4>
                    
                    <ul class="sidebar-brand">
                        <li><a href="#">Blanco</a></li>
                        <li><a href="#">Negro</a></li>
                        <li><a href="#">Azul</a></li>
                        <li><a href="#">Rojo</a></li>
                        <li><a href="#">Verde</a></li>
                    </ul>
                    
                </div>
                
                <div class="shop-sidebar mb-35">
                   
                    <h4 class="title">Tags</h4>
                    
                    <div class="sidebar-tags">
                        <a href="#">Pulseras</a>
                        <a href="#">Reloj</a>
                        <a href="#">Netflix</a>
                        <a href="#">Collares</a>
                        <a href="#">Audifonos</a>
                        <a href="#">Maquillaje</a>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div>