<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>REGISTRO</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/account">REGISTRO</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
           
        </div>

    </div>
</div>

<div class="register-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            
            <!-- Register -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-register">
                    
                    <h3>Necesitaremos su registro</h3>
                    
                    <!-- Register Form -->
                    <form action="#">
                        <div class="row">
                            <div class="col-12 mb-30"><input type="text" placeholder="Tu nombre aquí"></div>
                            <div class="col-12 mb-30"><input type="email" placeholder="Tu correo aqui"></div>
                            <div class="col-12 mb-30"><input type="password" placeholder="Introducir la contraseña"></div>
                            <div class="col-12 mb-30"><input type="password" placeholder="Confirmar contraseña"></div>
                            <div class="col-12"><input type="submit" value="Registro"></div>
                        </div>
                    </form>
                    
                </div>
            </div>
            
            <div class="col-md-1 col-12 d-flex">
                
                <div class="login-reg-vertical-boder"></div>
                
            </div>
            
            <!-- Account Image -->
            <div class="col-md-5 col-12 d-flex">
                
                <div class="ee-account-image">
                    <h3>Sube tu imagen</h3>
                    
                    <img src="/assets/images/account-image-placeholder.jpg" alt="Account Image Placeholder" class="image-placeholder">
                    
                    <div class="account-image-upload">
                        <input type="file" name="chooseFile" id="account-image-upload">
                        <label class="account-image-label" for="account-image-upload">Elige tu imagen</label>
                    </div>
                    
                    <p>jpEG 250x250</p>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div>

<div class="subscribe-section section bg-gray pt-55 pb-55">
    <div class="container">
        <div class="row align-items-center">
            
            <!-- Mailchimp Subscribe Content Start -->
            <div class="col-lg-6 col-12 mb-15 mt-15">
                <div class="subscribe-content">
                    <h2>SUSCRIBETE <span>A NUESTRO SITIO</span></h2>
                    <h2><span>PARA OBTENER ÚLTIMA</span>ACTUALIZACIÓN DEL PRODUCTO</h2>
                </div>
            </div><!-- Mailchimp Subscribe Content End -->
            
            
            <!-- Mailchimp Subscribe Form Start -->
            <div class="col-lg-6 col-12 mb-15 mt-15">
                
				<form id="mc-form" class="mc-form subscribe-form" novalidate="true">
					<input id="mc-email" type="email" autocomplete="off" placeholder="Introduzca su correo electrónico aquí" name="EMAIL">
					<button id="mc-submit">Suscribir</button>
				</form>
				<!-- mailchimp-alerts Start -->
				<div class="mailchimp-alerts text-centre">
					<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
					<div class="mailchimp-success"></div><!-- mailchimp-success end -->
					<div class="mailchimp-error"></div><!-- mailchimp-error end -->
				</div><!-- mailchimp-alerts end -->
                
            </div><!-- Mailchimp Subscribe Form End -->
            
        </div>
    </div>
</div>