<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>CARRITO DE COMPRAS</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/cart-shop">CARRITO DE COMPRAS</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
           
        </div>

    </div>
</div>

<div class="page-section section pt-90 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">				
                    <!-- Cart Table -->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Imgen</th>
                                    <th class="pro-title">Producto</th>
                                    <th class="pro-price">Precio</th>
                                    <th class="pro-quantity">Cantidad</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                             
                               <tr>
                                    <td class="pro-thumbnail"><a href="#"><img src="/assets/images/products/1.jpeg"></a></td>
                                    <td class="pro-title"><a href="#">Pulsera atrapasueños </a></td>
                                    <td class="pro-price"><span>$295.0000</span></td>
                                    <td class="pro-quantity"><div class="pro-qty"><input type="text" value="2"></div></td>
                                    <td class="pro-subtotal"><span>$590.000</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>

                                <tr>
                                    <td class="pro-thumbnail"><a href="#"><img src="/assets/images/products/6.jpeg"></a></td>
                                    <td class="pro-title"><a href="#">Collar Sugar daddy </a></td>
                                    <td class="pro-price"><span>$580.000</span></td>
                                    <td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td>
                                    <td class="pro-subtotal"><span>$580.000</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>

                                 <tr>
                                    <td class="pro-thumbnail"><a href="#"><img src="/assets/images/products/4.jpeg"></a></td>
                                    <td class="pro-title"><a href="#">Pulsera love forever </a></td>
                                    <td class="pro-price"><span>$110.000</span></td>
                                    <td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td>
                                    <td class="pro-subtotal"><span>$110.000</span></td>
                                    <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    
                </form>	
                    
                <div class="row">

                    <div class="col-lg-6 col-12 mb-15">
                   
                        <!-- Discount Coupon -->
                        <div class="discount-coupon">
                            <h4>Código de cupón de descuento</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Código promocional">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Aplicar">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-40 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Resumen de la compra</h4>
                                <p>SubTotal <span>$985.000</span></p>
                                <p>Costo de envío <span>$00.00</span></p>
                                <h2>Total <span>$985.000</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="checkout-btn">Pagar</button>
                                <button class="update-btn">Actualizar</button>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>