<!-- Header Section Start -->
<div class="header-section section">

    <!-- Header Top Start -->
    <div class="header-top header-top-one header-top-border pt-10 pb-10">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col mt-10 mb-10">
                    <!-- Header Links Start -->
                    <div class="header-links">
                        <a href="/track-order"><img src="/assets/images/icons/car.png"> <span>Rastrea tu orden</span></a>
                    </div><!-- Header Links End -->
                </div>

                <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                    <!-- Header Advance Search Start -->
                    <div class="header-advance-search">
                        
                        <form action="#">
                            <div class="input"><input type="text" placeholder="Busca tu producto"></div>
                            <div class="select">
                                <select class="nice-select">
                                    <option>Todas las categorias</option>
                                    <option>Reloj</option>
                                    <option>Manillas</option>
                                    <option>Audifonos</option>
                                    <option>Maquillaje</option>
                                    <option>Collares y pulseras</option>
                                    <option>Netflix</option>
                                </select>
                            </div>
                            <div class="submit"><button><i class="icofont icofont-search-alt-1"></i></button></div>
                        </form>
                        
                    </div><!-- Header Advance Search End -->
                </div>

                <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                    <!-- Header Account Links Start -->
                    <div class="header-account-links">
                        <a href="/account"><i class="icofont icofont-user-alt-7"></i> <span>Mi cuenta</span></a>
                        <a href="/login"><i class="icofont icofont-login d-none"></i> <span>Login</span></a>
                    </div><!-- Header Account Links End -->
                </div>

            </div>
        </div>
    </div><!-- Header Top End -->

    <!-- Header Bottom Start -->
    <div class="header-bottom header-bottom-one header-sticky">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col mt-15 mb-15">
                    <!-- Logo Start -->
                    <div class="header-logo">
                        <a href="/">
                            <img src="/assets/images/logo.jpeg" width="250px">
                        </a>
                    </div><!-- Logo End -->
                </div>

                    <div class="col order-12 order-lg-2 order-xl-2 d-none d-lg-block">
                    <!-- Main Menu Start -->
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/shop-list">Catálogo</a></li>
                                <li><a href="/cart-shop">Carrito</a></li>
                                <li><a href="/checkout">Pagar</a></li>
                            </ul>
                        </nav>
                    </div><!-- Main Menu End -->
                </div>


                <div class="col order-2 order-lg-12 order-xl-12">
                    <!-- Header Shop Links Start -->
                    <div class="header-shop-links">
                       
                        <!-- Wishlist -->
                        <a href="/wishlist" class="header-wishlist"><i class="ti-heart"></i> <span class="number">3</span></a>
                        <!-- Cart -->
                        <a href="/cart" class="header-cart"><i class="ti-shopping-cart"></i> <span class="number">3</span></a>
                        
                    </div><!-- Header Shop Links End -->
                </div>
                
                <!-- Mobile Menu -->
                <div class="mobile-menu order-12 d-block d-lg-none col"></div>

            </div>
        </div>
    </div><!-- Header Bottom End -->

</div><!-- Header Section End -->