<!-- Mini Cart Wrap Start -->                      
<div class="mini-cart-wrap">

    <!-- Mini Cart Top -->
    <div class="mini-cart-top">    
    
        <button class="close-cart">Cerrar carro<i class="icofont icofont-close"></i></button>
        
    </div>

    <!-- Mini Cart Products -->
    <ul class="mini-cart-products">
        <li>
            <a class="image"><img src="/assets/images/products/1.jpeg"></a>
            <div class="content">
                <a href="/product-detail" class="title">Reloj</a>
                <span class="price">Precio: $295.000</span>
                <span class="qty">Cantidad: 02</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
        <li>
            <a class="image"><img src="/assets/images/products/6.jpeg"></a>
            <div class="content">
                <a href="/product-detail" class="title">Collar</a>
                <span class="price">Precio: $580.000</span>
                <span class="qty">Cantidad: 01</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
        <li>
            <a class="image"><img src="/assets/images/products/4.jpeg"></a>
            <div class="content">
                <a href="single-product.html" class="title">Pulsera</a>
                <span class="price">Precio: $110.000</span>
                <span class="qty">Cantidad: 01</span>
            </div>
            <button class="remove"><i class="fa fa-trash-o"></i></button>
        </li>
    </ul>

    <!-- Mini Cart Bottom -->
    <div class="mini-cart-bottom">    
    
        <h4 class="sub-total">Total: <span>500.000</span></h4>

        <div class="button">
            <a href="/checkout">PAGAR</a>
        </div>
        
    </div>

</div><!-- Mini Cart Wrap End --> 